.contacto{
    background-color: $color-fondo ;
    .nav-list{
        img{
        width: $pixeles-logo;
        border-radius: $border-radius-logo;
        z-index: 2;
         margin-right: 10px;
         }
     }
    .navegacion-menu{
        color: black;
        border-color: black;
        @include nav-menu;
         height: 100%;
         margin-left: 900px;
        background-color: $color-fondo-naveacion;
         .ul{
            list-style-type: none;
            display: flex;
            gap: 100px;
            z-index: 2;
         }
         .ul li a {
            text-decoration: none;
            color: $color-letra;
            margin-top: 0;
            border: $borde-navegacion;
            display: inline-block;
            transition: $transicion-navegacion;
            padding: 5px 10px ;
            margin: 5PX; 

         }
    }
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 0.05fr 1fr;
        grid-template-rows: 1fr 0.10fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .instagram{
            display: grid;
            grid-area: 1 / 1 / 2 / 2;
            height: 200px;
            width: 100px;
        }
        .map{
            display: grid;
            grid-area: 1 / 3 / 2 / 4;
            height: 100px;
            width: 300px;
        }
        .map{
            display: grid;
            grid-area: 2 / 3 / 3 / 4;
}
}
}