.galeria{
    background-color: $color-fondo ;
    .nav-list{
        img{
            width: $pixeles-logo;
            border-radius: $border-radius-logo;
            z-index: 2;
             margin-right: 10px;

    }
     }
    .navegacion-menu{
        color: black;
        border-color: black;
        @include nav-menu;
         height: 100%;
         margin-left: 900px;
        background-color: $color-fondo-naveacion;
         .ul{
            list-style-type: none;
            display: flex;
            gap: 100px;
            z-index: 2;
         }
         .ul li a{
            text-decoration: none;
            color: $color-letra;
            margin-top: 0;
            border: $borde-navegacion;
            display: inline-block;
            transition: $transicion-navegacion;
         }
    }
    .recuerdo-p{
        font-size: $font-texto;
        color: $color-letra;
        display: grid;
        grid-area: 1 / 1 / 2 / 7;
    }
    .recuerdos{
        display : grid;
        grid-template-columns : repeat(3,1fr);
        grid-template-rows : repeat(2,1fr);
        column-gap : 5px;
        row-gap : 5px;
        margin: auto;
        .img-1{
            width: $width-img-galeria;
            height: $height-img-galeria;
            grid-area : 1 / 1 / 2 / 2;
           
        }
        .img-2{
            width: $width-img-galeria;
            height: $height-img-galeria;
            display: grid;
            grid-area : 1 / 2 / 2 / 3;
        }
        .img-3{
            width: $width-img-galeria;
            height: $height-img-galeria;
            display: grid;
            grid-area : 2 / 1 / 3 / 2;
             }
        .img-4{
            width: $width-img-galeria;
            height: $height-img-galeria;
            display: grid;
            grid-area : 2 / 2 / 3 / 3;
        }
        .img-5{
            width: $width-img-galeria;
            height: $height-img-galeria;
            display: grid;
            grid-area : 1 / 3 / 2 / 4;
        }
        .img-6{
            width: $width-img-galeria;
            height: $height-img-galeria;
            display: grid;
            grid-area : 2 / 3 / 3 / 4;

        }
            

    }
    .nuestro-salon{
        display : grid;
        grid-template-columns : repeat(3,1fr);
        grid-template-rows : repeat(3,1fr);
        column-gap : 5px;
        row-gap : 5px;
        .img-7 {
            grid-area : 1 / 1 / 2 / 2;
            width: $width-img-galeria;
            height: $height-img-galeria;
             }
        .img-8{
            width: $width-img-galeria;
            height: $height-img-galeria;
            grid-area : 1 / 2 / 2 / 3;
        }
        .img-9{
            width: $width-img-galeria;
            height: $height-img-galeria;
            grid-area : 1 / 3 / 2 / 4;
        }
        .img-10{
            width: $width-img-galeria;
            height: $height-img-galeria;
            grid-area : 2 / 1 / 3 / 2;
        }
        .img-11{
            width: $width-img-galeria;
            height: $height-img-galeria;
            grid-area : 2 / 2 / 3 / 3;
        }
        .img-12{
            width: $width-img-galeria;
            height: $height-img-galeria;
            grid-area : 2 / 3 / 3 / 4;
        }
        
    }

    .tituloimg{
        display: grid;
        justify-content: center;
        align-content: center;
        grid-area: 1 / 3 / 2 / 5;
    }


 }