.index{
    background-color: $color-fondo ;
    .titulo1{
        font-size: $font-frase;
        color: $color-frase;
        display: flex;
        font-size: $font-family-frase;
        justify-content: center;
        margin: 30px 250px 15px 300px  ;
        border: 3px solid red;
        animation-duration: 3s;
        animation-name: slidein;

     }
     @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }


   }  
 
    .nav-list{
        img{
        width: $pixeles-logo;
        border-radius: $border-radius-logo;
        z-index: 2;
         margin-right: 10px;
         }
     }
    .navegacion-menu{
        color: black;
        border-color: black;
        @include nav-menu;
         height: 100%;
         margin-left: 900px;
        background-color: $color-fondo-naveacion;
         .ul{
            list-style-type: none;
            display: flex;
            gap: 100px;
            z-index: 2;
         }
         .ul li a {
            text-decoration: none;
            color: $color-letra;
            margin-top: 0;
            border: $borde-navegacion;
            display: inline-block;
            transition: $transicion-navegacion;
            padding: 5px 10px ;
            margin: 5PX; 

         }
    }
    .img-index{
        @include imagen
        
        
    }
     }

    .titulo2 .titulo3 {
        color: $color-letra;
        font-size: $font-family-texto;

    }
    .copyrigth{
         color: $color-letra;
         display: inline-flex;
         justify-content: center;
         align-items: center;


    }
