.nosotros{
    background-color: $color-fondo ;
    
    .nav-list{
        img{
            width: $pixeles-logo;
            border-radius: $border-radius-logo;
            z-index: 2;
             margin-right: 10px;

    }
     }
    .navegacion-menu{
        color: black;
        border-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
         height: 100%;
         margin-left: 900px;
        background-color: $color-fondo-naveacion;
         .ul{
            list-style-type: none;
            display: flex;
            gap: 100px;
            z-index: 2;
         }
         .ul li a {
            text-decoration: none;
            color: $color-letra;
            margin-top: 0;
            border: $borde-navegacion;
            display: inline-block;
            transition: $transicion-navegacion;
         }
      }
      .imagen1-nosotros{
        
      }
    


 }