@mixin nav-menu{
    display: flex;
        justify-content: space-evenly;
        align-items: center;
}

@mixin imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 500px 0px 200px ;
    height: 40%;
    width: 40%;
    border: black solid 1px;
}

@mixin titulo-evento{
    margin: 10px 650px 10px 500px ;
}