//colores//
$color-fondo: #FADBD8;
$color-letra: black ;
$color-frase: #F1C40F;
$color-fondo-naveacion: #BB8FCE;


//tama単o letra//

$font-titulo: 15 rem;
$font-texto: 5 rem;
$font-frase: 10 rem;
$font-texto-nosotros: 30px ;

//tama単o de logo//
$border-radius-logo: 50%;
$pixeles-logo: 150px;
$margin-logo:900px;

//tama単o imagenes verticales//
$width-img-v: 400px;
$height-img-v:600px;


//tama単o imagenes horizontales//

$width-img-h: 400px;
$height-img-h: 200px;

//letras//

$font-family-frase: 'Sedgwick Ave Display', cursive;
$font-family-texto: "serif, cursive";


//bordes//
$borde-navegacion: 2px solid black;

//trancisiones//

$transicion-navegacion: backround-color 0.3s, color 0.3s;

