//colores//
$color-fondo: rgb(189, 104, 118) ;
$color-letra: black ;
$color-frase: #F1C40F;
$color-fondo-naveacion: #BB8FCE;


//tamaño letra//

$font-titulo: 15 rem;
$font-texto: 5 rem;
$font-frase: 10 rem; 
$font-texto-nosotros: 30px ;

//tamaño de logo//
$border-radius-logo: 50%;
$pixeles-logo: 150px;
$margin-logo:900px;

//tamaño imagenes verticales//
$width-img-v: 600px;
$height-img-v:800px;


//tamaño imagenes horizontales//

$width-img-h:400px;
$height-img-h: 800px;

//tamaño imagenes galeria//

$width-img-galeria: 500px;
$height-img-galeria: 600px;

//tamaño imagenes eventos//
$width-img-eventos: 400px;
$height-img-eventos: 800px;

//letras//

$font-family-frase: 'Sedgwick Ave Display', cursive;
$font-family-texto: "serif, cursive";


//bordes//
$borde-navegacion: 2px solid black;

//trancisiones//

$transicion-navegacion: backround-color 0.3s, color 0.3s;

